*{
    padding: 0;
    margin: 0;
    border: 0;
}
*,*:before,*:after{
    -moz-box-sizing: border-box;
    -webkit-box-sizing: border-box;
    box-sizing: border-box;
}
:focus,:active{outline: none}
a:focus,a:active{outline: none}

nav,footer,header,aside{display: block}

html,body{
    height: 100%;
    width: 100%;
    font-size: 100%;
    line-height: 1;
    font-size: 14px;
    -ms-text-size-adjust: 100%;
    -moz-text-size-adjust: 100%;
    -webkit-text-size-adjust: 100%;
}
input,button,textarea{font-family: inherit}

input::-ms-clear{display: none;}
button{cursor: pointer}
button::-moz-focus-inner{padding:0;border:0}
a, a:visited{text-decoration: none;}
a:hover{text-decoration: none;}
ul li{list-style: none;}
img{vertical-align: top}
h1,h2,h3,h4,h5,h6{font-size: inherit;font-weight: 400;}

body{
    background: #e8e8e8 url(../img/body-bg.png) 25% 105px no-repeat;
    color: #273d46;
    font: 24px/40px "Times New Roman", sans-serif;
}
p{
    margin-bottom: 38px;
}
a{
    color: #273d46;
    text-decoration: underline;
    transition: all 0.3s ease;
}
a:hover{
    text-decoration: none;
}
h1{
    font: 36px/50px "Times New Roman",sans-serif ;
    color: #273d46;
    text-align: center;
    margin-bottom: 63px;
    padding: 0 4px 0 0;

}
.container{
    padding: 154px 45px 154px 42px;
    margin: 0 auto;
    width: 842px;
}
.travel{
    text-align: center;
    text-transform: uppercase;
    display: block;
    font: 14px/40px "Arial",sans-serif ;
    letter-spacing: 3px;
    opacity: 0.6;
    padding: 0 8px 0 0;
}
.img-1{
    border: 10px solid #fff;
    margin: 0 -44px 88px;
    box-shadow: 0 6px 40px rgb(15 15 16 / 15%);
}
.list{
    margin-bottom: 55px;
    padding: 2px 0 0;
}
.list li{
    font: 20px/34px "Arial",sans-serif ;
    padding-left: 35px;
    position: relative;
}
.list li:before{
    content: "";
    width: 25px;
    height: 19px;
    background: url(../img/li.png) 0 0 no-repeat;
    position: absolute;
    top: 7px;
    left: 0;
}
.list li.list-color{
    color: #80b7b3;
    font-style: italic;
}
.list li.list-bold{
    font-weight: bold;
}
.list-through{
    text-decoration: line-through;

}
.list-through span{
    opacity: 0.3;
}
.button{
    background-color: #80b7b3;
    width: 200px;
    display: inline-block;
    text-align: center;
    color: #e8e8e8;
    border-radius: 20px;
    box-shadow: 0 6px 40px rgb(127 183 181 / 54%);
    text-decoration: none;
    letter-spacing: 3px;
    font: 14px/18px "Arial",sans-serif ;
    padding: 11px 20px;
}
.icon{
    width: 21px;
    height: 14px;
    max-height: 21px;
    display: inline-block;
    vertical-align: top;
    margin-top: 3px;
    margin-bottom: -3px;
    background: url("../img/arrow.png") 0 0 no-repeat;
}
.button:hover{
    color: black;
}
.button:hover .icon{
    background-image: url("../img/arrow-black.png");
}
.


